* {
    margin: 0;
    padding: 0;
}

html {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr;
    grid-template-rows: 0.2fr 10fr 0.8fr;
}

header {
    /* border: 2px solid rgb(245 197 25); */

    font-size: 0.9rem;
    font-weight: bold;
    background-color: #121212;
    max-height: 60px;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
}

.nav-inside-header {
    /* border: 2px solid deeppink; */

    min-width: 85%;
    height: 60px;
    display: flex;
}

ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

li {
    /* border: 1px solid aqua; */

    list-style-type: none;
    margin: 6px;
}

/* CREATE 'btn' utility class and put cursor:pointer ONLY ONCE */
.logo-container {
    cursor: pointer;
}

.menu-container {
    display: flex;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 6px;
    cursor: pointer;
}

.menu-container:hover {
    background-color: rgba(128, 128, 128, 0.24);
}

.menu-icon {
    /* border: 1px solid red; */
    
    width: fit-content;
    display: flex;
}

.menu-text {
    /* border: 1px solid red; */

    color: white;
    align-self: center;
    margin-left: 4px;
}

.search-container {
    /* border: 2px solid yellow; */

    display: flex;
    flex: 1;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(26 26 26);
    color: white;
    padding: 10px 0;
    border-radius: 4px;
    width: 235px;
    height: fit-content;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.dropdown-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.dropdown-menu > ul > li {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0;
    margin: 0;
    appearance: none;
    display: flex;
    align-items: center;
}

li > svg.filter-icon {
    margin: 0 10px;
}

.dropdown-menu > ul > li:hover {
    background-color: #737373;
}

.search-filter-container {
    background-color: white;
    color: black;
    border-right: 1px solid grey;
    border-radius: 4px 0 0 4px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;
}

.search-filter-container:hover {
    opacity: calc(90%);
}

.searchbar-container {
    /* border: 2px solid purple; */

    display: flex;
    flex: 10;
}

.searchbar {
    /* border: 1px solid blue; */
    display: flex;
    flex: 10;
}

#searchbar {
    width: 100%;
    height: 24px;
    outline: 0;
    border: 0;
    padding: 4px 6px;
}

.search-icon-container {
    /* border: 1px solid red; */
    border-radius: 0px 4px 4px 0;
    padding: 4px 6px;
    height: 24px;
    background-color: white;
    cursor: pointer;
    align-self: center;
}


.watchlist-container {
    /* border: 1px solid red; */

    border-radius: 4px;
    display: flex;
    padding: 4px 10px;
    margin: 0 6px;
    cursor: pointer;
}

.watchlist-container:hover {
    background-color: rgba(128, 128, 128, 0.24);
}

.watchlist-icon {
    /* border: 1px solid yellow; */
    width: fit-content;
    display: flex;
}

.watchlist-text {
    /* border: 1px solid yellow; */

    color: white;
    align-self: center;
    margin-left: 4px;
}

main {
    /* border: 2px solid red; */

    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1260px;
}

main.search-performed {
    /* border: 2px solid red; */
    background-color: #fafafa;

    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1260px;

    min-height: 100vh;
    width: 100%;
}

.search-term-displayed {
    /* border: 2px solid green; */

    width: 800px;
    height: 80px;
    margin: 0 20px;
    padding: 20px 0;

    font-size: 3rem;

}

.search-results-container {
    /* border: 2px solid blue; */

    width: 800px;
    margin: 0 20px;

}

.selected-filter-name {
    /* border: 1px solid deeppink; */

    width: 90%;
    margin: 20px 0px;

    font-size: 1.8rem;
    font-weight: 600;
}

.selected-filter-name::before {
    content: "";
    border: 2px solid rgb(245 197 25); 
    border-radius: 2px;
    margin-right: 8px;
}

.results-box-container {
    border: 1px solid rgb(193, 193, 193);
    border-radius: 4px;
}

.results-box {
    /* border: 1px solid black; */
    margin: 25px;

    height: fit-content;
    display: flex;
    flex-direction: column;

}

.search-result {
    /* border: 1px solid red; */

    border-bottom: 1px solid rgb(193, 193, 193);
    flex: 1;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.search-result:hover {
    cursor: pointer;
}

.search-result-poster-container {
    /* border: 1px solid yellowgreen; */

    display: flex;
    align-items: center;
    margin-right: 8px;
}

.search-result-poster-container img {
    flex: 1;
}

.search-result-text-container {
    /* border: 1px solid magenta; */

    height: 75px;

    color: #737373;
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.search-result-title {
    font-weight: 600;
    color: #000000de;
}

section {
    margin: 8px 0;
}

.popular {
    /* border: 1px solid deeppink; */

    background-color: black;
    /* grid-area: 1 / 1 / span 1 / -1; */
    min-height: 550px;
    display: flex;
    gap: 10px;
}

.main-popular-section {
    /* border: 2px solid red; */

    min-width: 800px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.main-image-container {
    /* border: 1px solid yellowgreen; */

    position: relative;
    filter: brightness(75%);
}

.main-image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
  }



.main-text-container {
    /* border: 2px solid green; */

    color: white;
    bottom: 0;
    margin-right: auto;
    margin-left: 210px;
    width: 70%;
    flex: 1;
}

.main-poster-container {
    position: absolute;
    bottom: 0;
    left: 18px;
    box-shadow: 0 0 10px 4px white;
}

.main-title {
    /* border: 1px solid white; */

    width: fit-content;
    font-size: 2rem;
    padding: 10px;
    flex: 2;
}

.up-next-title {
    width: fit-content;
    padding: 2px;
}

.main-title:hover,
.up-next-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main-genres {
    /* border: 1px solid cyan; */

    font-size: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    gap: 1rem;
    flex: 1;
}

.main-movie-genre {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 6px 14px;
    font-size: 0.9rem;
    cursor: text;
}

.main-overview {
    /* border: 1px solid white; */
    margin: 10px;
    width: 100%;
}


.secondary-popular-section {
    /* border: 2px solid blue; */

    min-width: 350px;
    max-height: 580px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.secondary-title {
    color: #F5C518;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px;
}

.pop-movie-container {
    /* border: 1px solid white; */

    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.pop-two {
    background-color: rgb(17 17 17);
    position: relative;
}

.pop-two::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.secondary-poster-container {
    /* border: 2px solid red; */

    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-popular-section img {
    border: 1px solid white;

    z-index: 1;
    position: relative;
    margin: 10px;
    display: flex;

}

.secondary-text-container {
    /* border: 2px solid green; */

    width: fit-content;
    margin: 10px 0;
    padding: 10px;
    flex: 1;
}

.up-next-title {
    font-size: 1.2rem;

}

.pop-two-genres,
.pop-three-genres,
.pop-four-genres {
    font-size: 0.9rem;
}

.secondary-movie-actor {
    flex: 1;
    width: fit-content;
}



.small-section {
    height: 550px;
    color: white;
    min-width: 1160px;
}


.in-theatres {
    margin-top: 40px;
    grid-area: 2 / 1 / span 1 / -1;
}

.small-section-title {
    margin-bottom: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 6px 0;
}

.small-section-title::before {
    content: "";
    border: 2px solid rgb(245 197 25); 
    border-radius: 1px;
    margin-right: 8px;
}

.in-theatres-section-title {
    color: rgb(245 197 25);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.small-section-subtitle {    
    color: #FFFFFFB3;
    margin-bottom: 12px;
    font-size: 1rem;
}

.in-theatres-section-title,
.small-section-title,
.small-section-subtitle {
    padding: 0 10px;
}

.in-theatres-movie-cards-container,
.upcoming-movie-cards-container,
.top-rated-movie-cards-container {
    /* border: 1px solid red; */

    height: 90%;
    display: flex;
}

.movie-card {
    background-color: rgb(26 26 26);
    flex: 1;
    margin: 0 10px;
}

.card-poster-container {
    cursor: pointer;
    transition: filter 0.3s ease;
}

.card-poster-container:hover {
    filter: brightness(0.9);
}

.card-text-container {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
}

.rating-container,
.movie-card-title {
    margin: 0 8px;
}

.movie-card-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

svg.star-icon {
    fill: rgb(245 197 25);
    margin-right: 4px;
}

.movie-card-rating {
    font-size: 1.1rem;
    color: #FFFFFFB3;
}

.movie-card-title {
    height: 40px;
    margin-top: 10px;
}

.card-btn {
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 6px 30px;
    margin: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    flex: 1;
    cursor: pointer;
}

button.add-to-watchlist {
    background-color: rgb(44 44 44);
    color: #5799ef;
    margin-top: 24px;
}

button.add-to-watchlist:hover {
    background-color: #5799ef2a;
}

button.trailer-btn {
    background-color: inherit;
    color: white;
    margin-top: 18px;
}

button.trailer-btn:hover {
    background-color: rgb(44 44 44);
}

button > svg {
    height: 24px;
    font-weight: bold;
    margin-right: 4px;
}

.upcoming {
    grid-area: 3 / 1 / span 1 / -1;
}

.upcoming-movie-cards-container .rating-container {
    display: flex;
    gap: 6px;
}

.movie-genre {
    border: 1px solid gray;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 2px 6px;
    cursor: text;
}

.upcoming-section-title {
    margin: 8px 0;
}

.top-rated {
    grid-area: 4 / 1 / span 1 / -1;
}

.people-trending {
    height: 400px;
    grid-area: 5 / 1 / span 1 / -1;
    margin: 40px 0;
}

.trending-people-cards-container {
    display: flex;
    justify-content: space-around;
}

.trending-person-card {
    margin: 20px;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.trending-person-card:hover {
    filter: brightness(0.7);
}

.profile-picture-container {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }
  
  .profile-picture-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -15px;
    left: 0;
  }

.trending-person-name {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 12px;
}

footer {
    border: 1px solid blue;
    grid-area: 3 / 1 / span 1 / -1;
    color: white;
}